<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Contact</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/style.css">

    
  </head>
  <body>
    <div class="head">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Monday, December 17, 2018</p>
          </div>
          <div class="col-sm-6 head-icon text-right">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarNavAltMarkup" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html"><img src="img/index/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="about.html" class="nav-link">About</a></li>
            <li><a href="product.html" class="nav-link">Product</a></li>
            <li><a href="testimoni.html" class="nav-link">Testimonial</a></li>
            <li><a href="news.html" class="nav-link">News</a></li>
            <li><a href="contact.html" class="nav-link active-nav">Contact Us</a></li>
            <button class="w3-btn w3-round-xxlarge" style="background-color:#774500; padding: 7px 33px;">Login</button>
            <a href="registrasi1.html" class="w3-btn w3-round-xxlarge" style="background-color: #f9d400;">Registrasi</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Navbar end -->

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <img src="img/about/banner_about.png" alt="" width="100%">
    </div>
    <!-- Jumbotron end -->

    <!-- About -->
    <section class="page" style="padding: 250px 10px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h2>Our Contact</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" align="center">
            <img src="img/contact/map.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="container" style="margin-top: 30px; margin-left: 20px;">
          <div class="row">
            <div class="col-md-1 icon-contact">
              <img src="img/contact/icon1.png" alt="">
            </div>
            <div class="col-md-5">
             <div class="text-contact"> 
              Jl. Ahmad Wahid, Kalangan, Baturetno, Banguntapan, Yogyakarta, 55197
             </div> 
            </div>
            <div class="col-md-1 icon-contact">
              <img src="img/contact/icon3.png" alt="">
            </div>
            <div class="col-md-5">
             <div class="text-contact"> 
              cro2@esoftdream.net
             </div> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 icon-contact">
              <img src="img/contact/icon2.png" alt="">
            </div>
            <div class="col-md-5">
             <div class="text-contact"> 
              0274 - 452 155
             </div> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About end -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"><img src="img/index/logo.png" class="s_icon"></div>
                <div class="col-lg-4 address">Jl.Ahmad Wahid,Kalangan,Baturetno,<br>Banguntapan,Bantul,Yogyakarta,55197<br>Office : 0274-452 155<br>Phone : 081 226 272 827<br>Email : cro2@esoftdream.net</div>
                <div class="col-lg-7 text-right address_2">
                    <a href=""><img src="img/index/icon_ig.png" alt=""></a>
                    <a href=""><img src="img/index/icon_tw.png" alt=""></a>
                    <a href=""><img src="img/index/icon_fb.png" alt=""></a>
                    <a href=""><img src="img/index/icon_yout.png" alt=""></a>
                    <a href=""><img src="img/index/icon_link.png" alt=""></a>
                    <br>
                    <p>Copyright 2018 &copy;Office. All rights reserved<br>Privacy Policy. Terms of Use. Site Map</p>
                </div>
            </div>
        </div>  
    </div>
    <!-- Footer End -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>