<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css'>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/style.css">

    
  </head>
  <body>
    <div class="head">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Monday, December 17, 2018</p>
          </div>
          <div class="col-sm-6 head-icon text-right">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarNavAltMarkup" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html"><img src="img/index/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html" class="nav-link active-nav">Home</a></li>
            <li><a href="about.html" class="nav-link">About</a></li>
            <li><a href="product.html" class="nav-link">Product</a></li>
            <li><a href="testimoni.html" class="nav-link">Testimonial</a></li>
            <li><a href="news.html" class="nav-link">News</a></li>
            <li><a href="contact.html" class="nav-link">Contact Us</a></li>
            <button class="w3-btn w3-round-xxlarge" style="background-color:#774500; padding: 7px 33px;">Login</button>
            <a href="registrasi1.html" class="w3-btn w3-round-xxlarge" style="background-color: #f9d400; color: #774500;">Registrasi</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Navbar end -->

    <!-- Slider -->
    <section class="slider-top">
      <div class="slideshow">
        <div class="slider slider-1">
          <div class="item">
            <img src="img/index/banner.png">
          </div>
          <div class="item">
            <img src="img/index/banner.png">
          </div>
          <div class="item">
            <img src="img/index/banner.png">
          </div>
        </div>
      </div>
    </section>  
    <!-- Slider end -->
      <!-- <div class="w3-content w3-display-container">

      <div class="w3-display-container mySlides">
        <img src="img/index/banner.png" style="width:100%">
      </div>

      <div class="w3-display-container mySlides">
        <img src="img/index/background_banner.png" style="width:100%">
      </div>

      <div class="w3-display-container mySlides">
        <img src="img/index/banner.png" style="width:100%">
      </div>

      <div class="w3-display-container mySlides">
        <img src="img/index/banner.png" style="width:100%">
      </div>

      <div class="w3-display-container mySlides">
        <img src="img/index/banner.png" style="width:100%">
      </div>

      <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
      </div> -->
    <!-- Product -->
    <section class="product-index">
      <div class="row">
        <div class="col-md-12">
          <h2>Our Product</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-4">
                  <div class="img-box" align="center">
                    <img src="img/index/image_produk.png" class="img-responsive" alt="">
                    <h5 style="font-weight: bold;">Product 1</h5>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus.</p>    
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="img-box" align="center">
                    <img src="img/index/image_produk.png" class="img-responsive" alt="">
                    <h5 style="font-weight: bold;">Product 2</h5>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus.</p>    
                  </div>
                </div>  
                <div class="col-sm-4">
                  <div class="img-box" align="center">
                    <img src="img/index/image_produk.png" class="img-responsive" alt="">
                    <h5 style="font-weight: bold;">Product 3</h5>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus.</p>    
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-4">
                  <div class="img-box" align="center">
                    <img src="img/index/image_produk.png" class="img-responsive" alt="">
                    <h5 style="font-weight: bold;">Product 4</h5>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus.</p>    
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="img-box" align="center">
                    <img src="img/index/image_produk.png" class="img-responsive" alt="">
                    <h5 style="font-weight: bold;">Product 5</h5>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus.</p>    
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="img-box" align="center">
                    <img src="img/index/image_produk.png" class="img-responsive" alt="">
                    <h5 style="font-weight: bold;">Product 6</h5>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus.</p>    
                  </div>
                </div>            
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-4">
                  <div class="img-box" align="center">
                    <img src="img/index/image_produk.png" class="img-responsive" alt="">
                    <h5 style="font-weight: bold;">Product 7</h5>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus.</p>    
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="img-box" align="center">
                    <img src="img/index/image_produk.png" class="img-responsive" alt="">
                    <h5 style="font-weight: bold;">Product 8</h5>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus.</p>    
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="img-box" align="center">
                    <img src="img/index/image_produk.png" class="img-responsive" alt="">
                    <h5 style="font-weight: bold;">Product 8</h5>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus.</p>    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
        </div>
      </div> 
    </section>
    <!-- Product end -->

    <!-- About Us -->
    <section class="about-index">
      <div class="container d-flex-c">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3" align="center">
            <div class="card">
              <div class="card-body">
              <img src="img/index/image_about.png" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Binary Beauty Product</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptate fugit corporis beatae est ex et voluptatibus fuga inventore, quisquam, numquam hic laboriosam doloribus doloremque ea, officiis architecto velit qui.</p>
            <a type="button" class="btn btn-danger" style="background-color: #774500; color:#fff;">See More <i class="fa fa-arrow-right" aria-hidden="true" style="color: #ffff;"></i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us end -->

    <!-- Testimonial -->
    <section class="testi-index">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Testimonial</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" align="center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto veritatis, quibusdam obcaecati necessitatibus. Harum doloremque nesciunt omnis animi nisi exercitationem magnam dolorem tempore dolorum, pariatur expedita ratione iure minima saepe repellendus. Facere adipisci officia itaque quas ipsum maxime qui, blanditiis, alias sunt iure quis repudiandae! Iure ducimus quisquam, et recusandae quam numquam ea consequatur distinctio necessitatibus ipsa officiis, nobis incidunt vero molestias maxime ullam odit aut eum odio earum.</p>
          </div>
        </div>
        <div class="row tester">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-5" align="center">
                <img src="img/index/image_testimonial.png" class="img-fluid" alt="">
              </div>
              <div class="col-md-7 testi-user">
                <h5>Ajeng Dwi Wardhani</h5>
                <small>Kota Yogyakarta</small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-5" align="center">
                <img src="img/index/image_testimonial.png" class="img-fluid" alt="" style="filter: grayscale(0%);">
              </div>
              <div class="col-md-7 testi-user">
                <h5>Ajeng Dwi Wardhani</h5>
                <small>Kota Yogyakarta</small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-5" align="center">
                <img src="img/index/image_testimonial.png" class="img-fluid" alt="">
              </div>
              <div class="col-md-7 testi-user">
                <h5>Ajeng Dwi Wardhani</h5>
                <small>Kota Yogyakarta</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" align="center" style="margin: 30px 0;">
            <a href="#" style="color:#774500;">See More Testimonial <i class="fa fa-arrow-right" aria-hidden="true" style="color: #774500;"></i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial end -->

    <!-- Statistik -->
    <section class="stat-index">
       <div class="container">
            <div class="row py-5">
                <div class="col-12 text-center mb-5">
                    <h2 style="color:white;">Statistik Member</h2>
                </div>
                <div class="col-md-4" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp; margin: 20px 0;">
                    <div class="text-center py-3" style="background-color: rgba(96, 56, 10, 0.4);border-top-left-radius: 15px;border-top-right-radius: 15px; height: 80px;">
                        <img src="img/index/icon_statistik1.png" class="img-fluid mr-2" style="max-width: 15%;"><span style="font-size: 18px; color: white;">Top Member</span>
                    </div>
                    <div class="text-center px-3 py-5" style="background-color: rgba(124, 73, 14, 0.3); border-bottom-left-radius: 15px;border-bottom-right-radius: 15px; height: 450px;">
                        <div id="carousel-example-vertical" class="carousela vertical slide" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                  <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>

                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>

                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>


                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>


                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp; margin: 20px 0;">
                    <div class="text-center py-3" style="background-color: rgba(96, 56, 10, 0.4);border-top-left-radius: 15px;border-top-right-radius: 15px; height: 80px;">
                        <img src="img/index/icon_statistik1.png" class="img-fluid mr-2" style="max-width: 15%;"><span style="font-size: 18px; color: white;">Top Income</span>
                    </div>
                    <div class="text-center px-3 py-5" style="background-color: rgba(124, 73, 14, 0.3); border-bottom-left-radius: 15px;border-bottom-right-radius: 15px; height: 450px;">
                        <div id="carousel-example-vertical" class="carousela vertical slide" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                  <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>

                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>

                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>


                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>


                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp; margin: 20px 0;">
                    <div class="text-center py-3" style="background-color: rgba(96, 56, 10, 0.4);border-top-left-radius: 15px;border-top-right-radius: 15px; height: 80px;">
                        <img src="img/index/icon_statistik1.png" class="img-fluid mr-2" style="max-width: 15%;"><span style="font-size: 18px; color: white;">Top Sponsor</span>
                    </div>
                    <div class="text-center px-3 py-5" style="background-color: rgba(124, 73, 14, 0.3); border-bottom-left-radius: 15px;border-bottom-right-radius: 15px; height: 450px;">
                        <div id="carousel-example-vertical" class="carousela vertical slide" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                  <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>

                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>

                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>


                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>


                                    <div class="row mb-3 d-flex-c">
                                        <div class="col-5">
                                            <img src="img/index/icon_statistik2.png" class="img-fluid" style="max-width: 65%;">
                                        </div>
                                        <div class="col-7 text-left text-white pl-0">
                                            <span>Binary123456</span><br>
                                            <span>Marjuki Wijanarko</span><br>
                                            <span>Yogyakarta</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Statistik end -->

    <!-- Join Us -->
    <section class="join_us">
        <div class="container-fluid text-center">
            <div class="row d-flex-c">
                <div class="col-lg">
                    <h3>#Bergabunglah dan Sukses Bersama Kami</h3>       
                </div>
            </div>
            <div class="row d-flex-c">
                <div class="col-lg">
                    <a href="#"><button type="button" class="btn btn-warning" ><i>Join Now</i></button></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Join Us end -->

    <!-- News -->
    <section class="news-index">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>News</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" align="center">
            <img src="img/index/image_news1.png" class="img-responsive" alt="" style="border:15px solid #e8e8e8">
            <div class="news-phar">
              <h4 style=" color:#774500; font-weight: 400">Perayaan HUT RI ke - 73</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4" align="center">
                <img src="img/index/image_news2.png" class="news-img img-responsive" alt="">
              </div>
              <div class="col-md-8 news-phar">
                <h4 style=" color:#774500; font-weight: 400">Perayaan HUT RI ke - 73</h4>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <span>Agustus 17th, 2018 by <span class="sjn-clr-blue">by <span style="font-weight: bold; color:#774500;">Admin</span></span>
              </div>
            </div>
            <div class="row py-4">
              <div class="col-md-4" align="center">
                <img src="img/index/image_news2.png" class="news-img img-responsive" alt="">
              </div>
              <div class="col-md-8 news-phar">
                <h4 style=" color:#774500; font-weight: 400">Perayaan HUT RI ke - 73</h4>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <span>Agustus 17th, 2018 by <span class="sjn-clr-blue">by <span style="font-weight: bold; color:#774500;">Admin</span></span>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4" align="center">
                <img src="img/index/image_news2.png" class="news-img img-responsive" alt="">
              </div>
              <div class="col-md-8 news-phar">
                <h4 style=" color:#774500; font-weight: 400">Perayaan HUT RI ke - 73</h4>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <span>Agustus 17th, 2018 by <span class="sjn-clr-blue">by <span style="font-weight: bold; color:#774500;">Admin</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" align="center" style="margin: 60px 0 0 0;">
            <a href="#" style="color:#774500;">See More News <i class="fa fa-arrow-right" aria-hidden="true" style="color: #774500;"></i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- News end -->

    <!-- Gallery -->
    <section class="gallery-index">
      <div class="row">
        <div class="col-md-3" align="center">
          <img src="img/index/image_gallery1.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-3" align="center">
          <img src="img/index/image_gallery2.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-3" align="center">
          <img src="img/index/image_gallery3.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-3" align="center">
          <img src="img/index/image_gallery4.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" align="center">
          <img src="img/index/image_gallery1.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-3" align="center">
          <img src="img/index/image_gallery2.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-3" align="center">
          <img src="img/index/image_gallery3.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-3" align="center">
          <img src="img/index/image_gallery4.png" class="img-responsive" alt="">
        </div>
      </div>
    </section>
    <!-- Gallery end -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"><img src="img/index/logo.png" class="s_icon"></div>
                <div class="col-lg-4 address">Jl.Ahmad Wahid,Kalangan,Baturetno,<br>Banguntapan,Bantul,Yogyakarta,55197<br>Office : 0274-452 155<br>Phone : 081 226 272 827<br>Email : cro2@esoftdream.net</div>
                <div class="col-lg-7 text-right address_2">
                    <a href=""><img src="img/index/icon_ig.png" alt=""></a>
                    <a href=""><img src="img/index/icon_tw.png" alt=""></a>
                    <a href=""><img src="img/index/icon_fb.png" alt=""></a>
                    <a href=""><img src="img/index/icon_yout.png" alt=""></a>
                    <a href=""><img src="img/index/icon_link.png" alt=""></a>
                    <br>
                    <p>Copyright 2018 &copy;Office. All rights reserved<br>Privacy Policy. Terms of Use. Site Map</p>
                </div>
            </div>
        </div>  
    </div>
    <!-- Footer End -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
    <script src='http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js'></script>
    <script src="js/script.js"></script>
  </body>
</html>