<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Registrasi</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/style.css">

    
  </head>
  <body>
    <div class="head">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Monday, December 17, 2018</p>
          </div>
          <div class="col-sm-6 head-icon text-right">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarNavAltMarkup" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html"><img src="img/index/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="about.html" class="nav-link">About</a></li>
            <li><a href="product.html" class="nav-link">Product</a></li>
            <li><a href="testimoni.html" class="nav-link">Testimonial</a></li>
            <li><a href="news.html" class="nav-link">News</a></li>
            <li><a href="contact.html" class="nav-link">Contact Us</a></li>
            <button class="w3-btn w3-round-xxlarge" style="background-color:#774500; padding: 7px 33px;">Login</button>
            <a href="registrasi1.html" class="w3-btn w3-round-xxlarge" style="background-color: #f9d400;">Registrasi</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Navbar end -->

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <img src="img/about/banner_about.png" alt="" width="100%">
    </div>
    <!-- Jumbotron end -->

    <!-- About -->
    <section class="page registrasi" style="padding: 250px 10px;">
      <div class="container justify-content-center">
        <div class="row text-center" style="margin-top: -150px;">
          <div class="col-md-12">
            <span>FORM REGISTRASI</span>
          </div>
        </div>
        <div class="row d-flex-c">
          <div class="col-md-12 text-center" style="margin-top: 40px;">
            <img src="img/registrasi/icon1.png" alt="">
            <img src="img/registrasi/icon2.png" alt="">
            <img src="img/registrasi/icon3.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex-c">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
            </div>
          </div>
        </div>
        <div class="row d-flex-c">
          <div class="col-md-9">
            <p style="text-align: center!important; margin-top: 10px;">Silahkan isi form yang ada dengan benar, Pastikan identitas yang diisikan sudah sesuai untuk keanggotaan anda. Form yang bertanda * Wajib diisi.</p>
          </div>
        </div>
        <div class="row d-flex-c">
          <div class="col-md-10">
            <p style="color:#774500; font-weight: bold; text-align: left;">Data Jaringan <hr></p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <p>ID Sponsor</p>
          </div>
          <div class="col-md-8">
            <p>: 123456789</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <p>ID Upline</p>
          </div>
          <div class="col-md-8">
            <p>: 123456789</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <p>Posisi</p>
          </div>
          <div class="col-md-8">
            <p>: Kanan</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p style="color:#774500; font-weight: bold;">Data Kartu <hr></p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <p>Nomor Serial</p>
          </div>
          <div class="col-md-8">
            <form>
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="Nomor Serial">
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <p>PIN</p>
          </div>
          <div class="col-md-8">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="PIN">
              </div>
            </form>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p style="color:#774500; font-weight: bold;">Data Login <hr></p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <p>Password</p>
          </div>
          <div class="col-md-8">
            <form>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
            </form>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <p>Ulangi Password</p>
          </div>
          <div class="col-md-8">
            <form>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Ulangi Password">
              </div>
            </form>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p style="color:#774500; font-weight: bold;">Data Pribadi<hr></p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>Nama Lengkap</p>
                <input type="text" class="form-control" placeholder="Nama Lengkap">
          </div>
          <div class="col-md-5">
            <p>Email</p>
                <input type="email" class="form-control" placeholder="email">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>Tempat Lahir</p>
                <input type="text" class="form-control" placeholder="Tempat Lahir">
          </div>
          <div class="col-md-5">
            <p>Tanggal Lahir</p>
                <input type="date" class="form-control" placeholder="Tanggal Lahir">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p>Alamat</p>
                <input type="text" class="form-control" placeholder="Alamat">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 25px;">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <p>Jenis Kelamin</p>
          </div>
          <div class="col-md-8" style="margin-top: 5px;">
            <input type="radio" name="gender" value="male"> Laki Laki
            <input type="radio" name="gender" value="female"> Perempuan
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>Negara</p>
            <select class="form-control">
              <option>Indonesia</option>
              <option>Indonesia</option>
              <option>Indonesia</option>
              <option>Indonesia</option>
            </select>
          </div>
          <div class="col-md-5">
            <p>Provinsi</p>
            <select class="form-control">
              <option>Aceh</option>
              <option>Bali</option>
              <option>Banten</option>
              <option>Jakarta</option>
              <option>Kalimantan</option>
              <option>Yogyakarta</option>
            </select>
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>Kabupaten / Kota</p>
            <select class="form-control">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
          <div class="col-md-5">
            <p>Kode Pos</p>
                <input type="tel" class="form-control" placeholder="Kode Pos">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>No. KTP</p>
                <input type="text" class="form-control" placeholder="No. KTP">
          </div>
          <div class="col-md-5">
            <p>No. NPWP</p>
                <input type="tel" class="form-control" placeholder="No. NPWP">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>No. Telepon</p>
                <input type="tel" class="form-control" placeholder="No. Telepon">
          </div>
          <div class="col-md-5">
            <p>No. Handphone</p>
                <input type="tel" class="form-control" placeholder="No. Handphone">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 25px;">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p style="color:#774500; font-weight: bold;">Data Pewaris<hr></p>
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>Nama Lengkap</p>
                <input type="text" class="form-control" placeholder="Nama Lengkap">
          </div>
          <div class="col-md-5">
            <p>Hubungan</p>
                <input type="text" class="form-control" placeholder="Hubungan">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>No. Telepon</p>
                <input type="tel" class="form-control" placeholder="No. Telepon">
          </div>
          <div class="col-md-5">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 25px;">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p style="color:#774500; font-weight: bold;">Data Bank<hr></p>
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>Nama Bank</p>
                <input type="text" class="form-control" placeholder="Nama Bank">
          </div>
          <div class="col-md-5">
            <p>Nama Nasabah</p>
                <input type="text" class="form-control" placeholder="Nama Nasabah">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>No. Rekening</p>
                <input type="tel" class="form-control" placeholder="No. Rekening">
          </div>
          <div class="col-md-5">
            <p>Kota Bank</p>
                <input type="text" class="form-control" placeholder="Kota Bank">
          </div>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 15px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>Cabang Bank</p>
                <input type="text" class="form-control" placeholder="Cabang Bank">
          </div>
          <div class="col-md-5">
          </div>
        </div>
        <div class="row" style="margin-top: 50px;">
          <div class="col-md-12 text-center">
            <a href="registrasi3.html"><button class="w3-btn w3-ripple" style="margin-top: 25px; background-color: #774500; color:white; font-weight: bold;">Aktifkan Akun</button></a>
          </div>          
        </div>
      </div>
    </section>
    <!-- About end -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"><img src="img/index/logo.png" class="s_icon"></div>
                <div class="col-lg-4 address">Jl.Ahmad Wahid,Kalangan,Baturetno,<br>Banguntapan,Bantul,Yogyakarta,55197<br>Office : 0274-452 155<br>Phone : 081 226 272 827<br>Email : cro2@esoftdream.net</div>
                <div class="col-lg-7 text-right address_2">
                    <a href=""><img src="img/index/icon_ig.png" alt=""></a>
                    <a href=""><img src="img/index/icon_tw.png" alt=""></a>
                    <a href=""><img src="img/index/icon_fb.png" alt=""></a>
                    <a href=""><img src="img/index/icon_yout.png" alt=""></a>
                    <a href=""><img src="img/index/icon_link.png" alt=""></a>
                    <br>
                    <p>Copyright 2018 &copy;Office. All rights reserved<br>Privacy Policy. Terms of Use. Site Map</p>
                </div>
            </div>
        </div>  
    </div>
    <!-- Footer End -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>