<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>News</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="img/logo.png" width="80%" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="whyus.html">Why Us</a></li>
            <li><a href="testimoni.html">Testimonial</a></li>
            <li><a href="news.html" class="active-nav">News</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right login">
            <a href="login.html">Login</a>
            <a href="registrasi1.html">Registrasi</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Navbar End -->

    <!-- Jumbotron -->
    <div class="jumbotron">
      <img src="img/image_konten.png" width="100%" alt="">
    </div>
    <!-- Jumbotron End -->

    <!-- Content -->
    <section class="content">
      <div class="news">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2>News</h2>
            </div>
          </div>
          <div class="row newsTop">
            <div class="col-md-12 newsTopImage" align="center">
              <img src="img/image_news0.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-12 newsTopText">
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
              <span>Agustus 17th, 2018 by <span style="font-weight: bold">Admin</span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis, distinctio amet molestias voluptas doloribus similique nostrum repellendus, enim architecto, ullam doloremque. Numquam distinctio explicabo, nostrum accusantium nam id earum illo pariatur illum excepturi, quaerat debitis, eius porro soluta ad blanditiis itaque molestias architecto repellat.</p>
            </div>
          </div>
          <div class="row newsTop">
            <div class="col-md-3 newsSideImage" align="center">
              <img src="img/image_news2.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-9 newsSideText">
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
              <span>Agustus 17th, 2018 by <span style="font-weight: bold">Admin</span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis, distinctio amet molestias voluptas doloribus similique nostrum repellenduso.</p>
            </div>
          </div>
          <div class="row newsTop">
            <div class="col-md-3 newsSideImage" align="center">
              <img src="img/image_news3.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-9 newsSideText">
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
              <span>Agustus 17th, 2018 by <span style="font-weight: bold">Admin</span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis, distinctio amet molestias voluptas doloribus similique nostrum repellenduso.</p>
            </div>
          </div>
          <div class="row newsTop">
            <div class="col-md-3 newsSideImage" align="center">
              <img src="img/image_news4.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-9 newsSideText">
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
              <span>Agustus 17th, 2018 by <span style="font-weight: bold">Admin</span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis, distinctio amet molestias voluptas doloribus similique nostrum repellenduso.</p>
            </div>
          </div>
          <!-- Pagination -->
          <div class="container text-center">
            <ul class="pagination" style="margin-top: 50px;">
              <li class="page-item"><a class="page-link" href="#">1</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
          </div>
          <!-- Pagination End -->
        </div>
      </div>
    </section>
    <!-- Content End-->

    <!-- Footer -->
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-1"><img src="img/logo.png" class="s_icon"></div>
          <div class="col-lg-4 address">Jl.Ahmad Wahid,Kalangan,Baturetno,<br>Banguntapan,Bantul,Yogyakarta,55197<br>Office : 0274-452 155<br>Phone : 081 226 272 827<br>Email : cro2@esoftdream.net</div>
          <div class="col-lg-7 text-right">
            <a class="glyph" href=""><img src="img/icon_ig.png" alt=""></a>
            <a class="glyph" href=""><img src="img/icon_tw.png" alt=""></a>
            <a class="glyph" href=""><img src="img/icon_fb.png" alt=""></a>
            <a class="glyph" href=""><img src="img/icon_yout.png" alt=""></a>
            <a  href=""><img src="img/icon_link.png" alt=""></a>
            <br>
            <p>Copyright 2018 &copy;Office. All rights reserved<br>Privacy Policy. Terms of Use. Site Map</p>
          </div>
        </div>
      </div>  
    </section>
    <!-- Footer End -->

    <!-- Scroll Top -->
    <a href="#0" class="cd-top js-cd-top"></a>
    <!-- Scroll Top End -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
  </html>