<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>About Us</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="img/index/logo.png" width="60%" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html" class="active-nav">About Us</a></li>
            <li><a href="product.html">Product</a></li>
            <li><a href="testimoni.html">Testimonial</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><button class="w3-btn w3-round-xxlarge btn-login"><a href="login.html">Login</a></button></li>
            <li><button class="w3-btn w3-round-xxlarge btn-reg"><a href="registrasi1.html">Registrasi</a></button></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Navbar End -->

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <img src="img/aboutus/image_banner.png" width="100%" alt="">
    </div>
    <!-- Jumbotron End -->

    <!-- Content -->
    <div class="content about">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>About Us</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 aboutImage" align="center">
            <img src="img/aboutus/image_about.png" class="img-responsive" alt="">
          </div>
          <div class="col-lg-7 aboutText">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis dolore quod, incidunt impedit aliquam, eaque deserunt, beatae quos vitae, nobis cum sint qui rem optio quam porro accusamus nihil quo! Omnis repudiandae error culpa, cum adipisci tempore soluta. Minus molestias dicta neque doloribus nemo pariatur, earum nobis suscipit molestiae praesentium ex, voluptate magni incidunt tenetur, velit debitis eum minima fugit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima temporibus, ducimus ut, animi nemo quasi blanditiis quas delectus ad autem iure! Hic 
          </div>
        </div>
        <div class="row">
          <div class="col-12 aboutText under">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error adipisci similique quidem iusto id ex perspiciatis ut esse autem cupiditate, eius dolorum pariatur cum? Aliquam asperiores ut ipsam facilis sequi exercitationem hic laudantium modi perspiciatis fugiat, culpa excepturi similique quas tenetur explicabo vel incidunt officiis aperiam optio suscipit consequatur? Ratione magnam laborum deserunt quisquam sed, debitis praesentium ullam quam necessitatibus aliquid dicta animi sint obcaecati quae beatae nostrum natus iste ipsum aliquam quia illum. Incidunt, expedita. Cupiditate distinctio amet</div>
        </div>
      </div>
    </div>
    <!-- Content End -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"><img src="img/index/logo_footer.png" class="s_icon"></div>
                <div class="col-lg-4 address">Jl.Ahmad Wahid,Kalangan,Baturetno,<br>Banguntapan,Bantul,Yogyakarta,55197<br>Office : 0274-452 155<br>Phone : 081 226 272 827<br>Email : cro2@esoftdream.net</div>
                <div class="col-lg-7 text-right">
                    <a class="glyph" href=""><img src="img/index/icon_ig.png" alt=""></a>
                    <a class="glyph" href=""><img src="img/index/icon_tw.png" alt=""></a>
                    <a class="glyph" href=""><img src="img/index/icon_fb.png" alt=""></a>
                    <a class="glyph" href=""><img src="img/index/icon_yout.png" alt=""></a>
                    <a  href=""><img src="img/index/icon_link.png" alt=""></a>
                    <br>
                    <p>Copyright 2018 &copy;Office. All rights reserved<br>Privacy Policy. Terms of Use. Site Map</p>
                </div>
            </div>
        </div>  
    </div>
    <!-- Footer End -->

    <!-- Scroll Top -->
    <a href="#0" class="cd-top js-cd-top"></a>
    <!-- Scroll Top End -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
  </html>