.margin_tb10 {
  margin: 10px 0 !important;
}

.navbar .login {
  margin-right: -540px;
}
.navbar .navbar-nav li {
  /*top: 0;*/
  top: 20px;
}
.navbar .navbar-nav li a {
  /*padding: 5px 15px;*/
  padding-top: 15px;
  padding-bottom: 15px;
}

/* SLIDER */
[id^=imageslider] {
  margin-top: 75px;
}
[id^=imageslider] .carousel-inner img, 
#myCarouselContent .carousel-inner img {
  width: 100%;
}
#myCarouselContent .carousel-control,
#myCarouselTestimonials .carousel-control,
#myCarousel .carousel-control {
  width: 50px;
  background: transparent;
}

/* About */
.testiIndex h2,
.aboutIndex h2 {
  text-shadow: none;
}

/* Testimonial */
.testiIndex .carousel-indicators img {
  width: 150px;
  height: auto;
  object-fit: cover;
}
img.img-circle {
  width: 190px;
  height: auto;
  object-fit: cover;  
}

/* News */
.img_200 {
  height: 200px;
  object-fit: cover;
}


.value-img a {
  text-decoration: none;
}

/* Footer */
.footer a {
  /*font-size: 30px;*/
  font-size: 21px;
}

article p{
  line-height: 2.8;
}

/* Fix Image */
.content {
  background-image: url(../html/img/icon_konten_kanan.png), url(../html/img/icon_konten_kiri.png);
}
.join_us {
  background-image: url(../html/img/background_join_us.png);
}
.pageLogin {
  background-image: url(../html/img/image2.png);
}
.testiIndex {
  background-image: url(../html/img/testi.png);
}
.cd-top {
  background: rgba(188, 135, 22) url(../html/img/cd-top-arrow.svg) no-repeat center 50%;
}


@media (min-width: 768px) {

}


/*LARGE*/
@media (min-width: 1280px ) {
  /* Gallery */
  .galleryIndex img {
    width: 100%;
  }
  /* 3 Content */
  .img_100 {
    height: 100px;
    width: auto !important;
    object-fit: cover;
  }

}
/*MEDIUM*/
@media (min-width: 992px) and (max-width: 1280px) {
  /* Gallery */
  .galleryIndex img {
    width: 100%;
  }
  /* 3 Content */
  .img_100 {
    height: 100px;
    width: auto !important;
    object-fit: cover;
  }

}
/* SMALL */
@media (min-width: 768px) and (max-width: 992px) {
  
}
/* EXTRA SMALL */
@media (max-width: 768px) {
  .mobile_left {
    float: left !important;
  }
}